
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    h1.allign 
    {
        padding-top: 100px;
        color: darkred;
    }
</style>
<h1 class="allign">Customers</h1>

